.excluir-button {
    color: white;
    background-color: #f44336;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0.3rem;
}

.titulo-cell {
    font-weight: bold; 
}

.lista-livro {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.lista-livro h1 {
    width: 100%;
    text-align: start;
    padding-left: 3em;
}

.book-table {
    width: 90%;
    border-collapse: collapse;
}

.book-table th {
    background-color: #333; 
    color: white;
    padding: 10px;
    text-align: left;
}

.book-table td {
    padding: 10px;
}

.book-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9; 
}

.resumo-cell, .editora-cell, .autores-cell {
    max-width: 200px; 
    word-wrap: break-word;
}